<%- include('partials/header') -%>
<div class="container mt-2">
  <h1>Home</h1>
  <p><%= homeStartingContent %></p>
</div>
<div class="container mt-2">
  <% postsArray.forEach(function(post) { %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
      <!-- <a href="/posts/<%= post._id %>">Read more</a> -->
    </div>
  <% }); %>
</div>

<%- include('partials/footer') -%>