<%- include('partials/header') -%>
<div class="container mt-2">
  <h1>Home</h1>
  <p><%= homeStartingContent %></p>
</div>
<div class="container mt-2">
  <% postsArray.forEach(function(post) { %>
  <div class="post my-3">
    <h3><%= post.title %></h3>
    <div class="d-flex flex-row">
      <p><%= post.content.slice(0, 100) %> . . .</p>
      <a href="/posts/<%= post.title %>">Read more</a>
    </div>
  </div>
  <% }); %>
</div>

<%- include('partials/footer') -%>
